body{
    margin:0 ;
    padding:0;
    border:0;

 
}
header{
    background-color: #464A44;
    position:fixed;
    top: 0px;
    width: 100%;
    height: 100px; 
    
}

h1{
    position:relative;
    text-align: center;
    width: 100%;
    top: 10px;
    left: 100px;
}

.logo{
    position:absolute;
    width: 100px;
    height: 100px;
    top: 0px; 


} 
/* footer{
    background-color: #464A44;
    position:relative;
    height: 100px;
    
}  */